*{
    margin: 0;
}

body{ 
    font-family: monospace;
    background-color: darkslategray;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    background-color: rgb(43, 43, 43);
    height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    margin-bottom: 0.5rem;
}

h2{
    margin-top: 1rem;
}

input{
    width: 20vw;
}

.gif-container, #favoritosContainer{ 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
    text-align: center;
}

.gif{ 
    margin: 10px; 
}

button{ 
    margin-top: 5px; 
}

.favbtn{
    background-color: green;
    border: 0;
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
}
.rmvfavbtn{
    background-color: red;
    border: 0;
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
}

button{
   background-color: darkslategrey;
   color: white;
   border: 0;
   border-radius: 1rem;
}