*{
    margin: 0;
}

body{ 
    font-family: monospace;
    text-align: center; 
    background-color: rgb(38, 31, 44);
    color: white;
}

.gif-container, .gif-container2{ 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
}

.gif{ 
    margin: 10px; 
}

button{ 
    margin-top: 5px; 
}